.box-flex{
    display: flex;
    width: 600px;
}


.box{
    /* flex:1; */
    /* padding:10px; */
    width: 200px;
    height: 200px; 
    border:1px solid black;
}
.box-one{
    flex-grow:2;
}
.box-two{
    flex-grow:1;
} 
.box-three{
    flex-grow:1;
} 